:host(.dashboard-header) {
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 0 5px 5px #00000055;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #001760;
    color: #fff;
    grid-area: header;
}

:host(.dashboard-header) h1 {
    margin: 0;
}

:host(.dashboard-header) nav {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

:host(.dashboard-header) nav a {
    color: #fff;
    text-decoration: none;

    &:hover,
    &:focus-visible {
        text-decoration: underline;
    }
}

.dashboard-header-nav {
    display: flex;
    gap: 1rem;
    align-items: center;

}
@media (max-width: 768px) {
    :host(.dashboard-header) h1 {
        display: none;
    }
}