<div class="auth-form-container">
    <div class="auth-hero">
        <div class="auth-hero-dotted" data-pos="top"></div>
        <div class="auth-hero-dotted" data-pos="bottom"></div>
        <div class="auth-hero-rings" data-pos="top"></div>
        <div class="auth-hero-rings" data-pos="bottom"></div>

        <div class="auth-hero-content">
            <h1 class="auth-hero-heading">{{heroHeading}}</h1>
        </div>
    </div>
    <div class="auth-form-cont">
        <ng-content></ng-content>
    </div>

</div>