<app-auth-form heroHeading="Education Moves Forward">
    <app-auth-form-header companyName="" linkText="Back to Login" linkUrl="/login"/>
    <form class="auth-form" (ngSubmit)="onForgotSubmit()" [formGroup]="forgotPasswordForm">
      <h2>Forgot Password</h2>
      <div class="auth-form-field">
        <label for="uname" class="auth-form-label">Username</label>
        <input type="text" id="uname" name="username" class="auth-form-input" formControlName="username"/>
      </div>
      <p>{{ message() }}</p>
      <div class="auth-form-buttons">
        <button type="submit" class="">Reset Password</button>
      </div>
    </form>
  </app-auth-form>
