<app-auth-form heroHeading="Education Moves Forward">
    <app-auth-form-header companyName="Company" linkText="Register" linkUrl="/signup"/>
    <form class="auth-form" (ngSubmit)="onSubmit()" [formGroup]="form">
      <h2>Login</h2>
      <div class="auth-form-field">
        <label for="uname" class="auth-form-label">Username</label>
        <input type="text" id="uname" name="username" class="auth-form-input" formControlName="username"/>
      </div>
      
      <div class="auth-form-field">
        <label for="password" class="auth-form-label">Password</label>
        <input type="password" id="password" name="password" class="auth-form-input" formControlName="password"/>
      </div>
      <app-auth-form-actions [actions]="[{text:'Forgot Password',link:'/forgot-password'}]"/>
      <div class="auth-form-buttons">
        <button type="submit" class="">Login</button>
      </div>
    </form>
  </app-auth-form>

