    .dashboard-container {
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: auto 1fr;
        grid-template-areas:
            "sidebar header"
            "sidebar content";
        /* height: 100vh; */
    }

    .dashboard-header {
        position: sticky;
        top: 0;
        z-index: 3;
        box-shadow: 0 5px 5px #00000055;

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        background-color: #001760;
        color: #fff;
        grid-area: header;
    }

    .dashboard-header h1 {
        margin: 0;
    }

    .dashboard-header nav {
        display: flex;
        align-items: center;
        gap: 0.75rem;
    }

    .dashboard-header nav a {
        color: #fff;
        text-decoration: none;

        &:hover,
        &:focus-visible {
            text-decoration: underline;
        }
    }

    .sidebar-toggle {
        display: none;
        background: none;
        border: none;
        color: #fff;
        font-size: 1.5rem;
    }

    .dashboard-content {
        grid-area: content;
        display: flex;
        flex: 1;
        background-color: #e5efff;

    }

    .dashboard-sidebar {
        grid-area: sidebar;
        position: fixed;
        z-index: 5;
        top: 0;
        width: 100%;
        height: 100dvh;
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        background-color: #5684df;
        color: #fff;
        padding: 1rem;

        .sidebar-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }



        h2 {
            display: none;
        }
    }

    .sidebar-toggle {
        padding: 0.5rem;
    }

    .dashboard-sidebar ul {
        list-style: none;
        padding: 0;
    }

    .dashboard-sidebar ul li {
        margin: 1rem 0;
    }

    .dashboard-main {
        flex: 1;
        padding: 1rem;
    }

    .dashboard-header-nav {
        display: flex;
        gap: 1rem;
        align-items: center;

    }

    @media (min-width: 768px) {
        .dashboard-sidebar {
            position: sticky;
            top: 0;
            /* Ensures the sidebar stays at the top of the viewport */
            height: 100vh;

            /* Add scrolling within the sidebar if content overflows */
            width: 250px;
            /* Maintain the sidebar width */
            background-color: #5684df;
            /* Keep the background consistent */
        }
    }


    @media (max-width: 768px) {
        .dashboard-header h1 {
            display: none;
        }

        .lg-only {
            display: none;
        }

        .logout-button {
            padding: 1rem;
        }

        .dashboard-sidebar {
            position: fixed;
            z-index: 5;
            top: 0;
            width: 100%;
            height: 100dvh;
            overflow: hidden;
            transform: translateX(-100%);
            transition: transform 0.3s ease;

            h2 {
                display: block;
            }
        }

        .dashboard-sidebar.active {
            transform: translateX(0);
        }

        .sidebar-toggle {
            display: block;
        }
    }

    .sidebar-item {
        padding: 0.75rem 1rem;
        position: relative;
        display: block;
        border-radius: 4px;
        transition: background-color 0.3s ease;
        z-index: 2;

        a {
            color: #fff;
            text-decoration: none;
        }
    }

    .sidebar-item:hover,
    .sidebar-item:has(:focus-visible) {
        background-color: #3a5ba0;
    }

    .dashboard-section {
        padding: 1rem;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;
        transition: transform 0.3s ease;
    }

    .dashboard-section:hover {
        transform: translateY(-5px);
    }

    .hover-only {
        scale: 0;
        transform-origin: center left;
        transition: scale 0.200s ease;
    }

    .sidebar-item:hover>.hover-only,
    .sidebar-item:has(:focus-visible)>.hover-only {
        scale: 100%;
    }

    .sidebar-item-details {
        position: absolute;
        left: calc(100% + 1rem);
        width: 100%;
        background-color: #3a5ba0;
        z-index: 3;
        padding: 0.5rem;

        top: 50%;
        translate: 0 -50%;

        border-radius: 0.6rem;
    }

    .dashboard-main {
        max-width: 1000px;
        margin-inline: auto;
    }

    .dashboard-main>*+* {
        margin-top: 3rem;
    }

    .dashboard-hero {}

    .dashboard-hero-carousel {
        display: block;
        margin-top: 2rem;

    }

    .dashboard-hero-image {
        width: 100%;
        /* height: 100%; */
        display: block;
        object-fit: cover;
        border-radius: 0.6rem;
    }

    .dashboard-cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 2rem;
    }

    .dashboard-logo {
        /* its an svg */
        width: 100%;

    }